<!DOCTYPE html>
<html class="dark" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: common_header(~{::title})}">
    <title> Admin panel: Studio</title>
</head>
<body>
<!-- Header Section Begin -->
<header class="header" th:replace="~{fragments/general :: header}">
</header>
<!-- Header End -->
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a th:href="@{/}"><i class="fa fa-home"></i> Home</a>
                    <span>Admin Studio</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<div class="container" style="margin-top:10px;">
    <div class="row justify-content-between">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                <h4>Studios</h4>
            </div>
        </div>
        <div class="col-lg-2 col-lg-2 col-sm-2 d-flex justify-content-end">
            <button class="btn btn-danger" data-target="#studioCreateModal" data-toggle="modal">Create</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-2 " style="border-radius: 5px">
            <table class="table table-dark table-striped table-bordered table-responsive-md" id="example"
                   style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="studio : ${studios}">
                    <td th:text="${studio.id}"></td>
                    <td><a th:href="@{/admin/studio/{id}(id = ${studio.id})}" th:text="${studio.name}"></a></td>
                    <td th:text="${studio.description}">Description</td>
                    <td th:text="${#temporals.format(studio.created,'yyyy-MM-dd HH:mm')}">Created At</td>
                    <td th:text="${#temporals.format(studio.updated,'yyyy-MM-dd HH:mm')}">Updated At</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<!-- Footer Section Begin -->
<footer class="footer" th:replace="~{fragments/general :: footer}"></footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model" th:replace="~{fragments/elements :: search}"></div>
<!-- Search model end -->

<!--    Modal begin-->
<div aria-hidden="true" aria-labelledby="studioCreateModalLabel" class="modal fade" id="studioCreateModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="ratingLabel">Create Studio</h5>
                <button aria-label="Close" class="close text-white" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white">
                <form class="col-lg-12 col-md-12 col-sm-12 mb-4" id="studioForm" th:action="@{/admin/studio/create}"
                      th:method="post" th:object="${studioRegister}">
                    <div class="form-group">
                        <input th:field="*{id}" type="hidden">
                        <label class="text-white" for="name">Name</label>
                        <input th:field="*{name}" class="form-control" id="name"  type="text" placeholder="Enter studio name">
                        <small class="font-italic" th:errorclass="text-danger"
                               th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></small>
                    </div>
                    <div class="form-group">
                        <label class="text-white" for="description">Description</label>
                        <textarea class="form-control" id="description" maxlength="200"
                                  minlength="3" placeholder="Describe description"
                                  th:field="*{description}"></textarea>
                        <small class="font-italic" th:errorclass="text-danger"
                               th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-danger" form="studioForm" type="submit">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--    Modal end-->


<div th:replace="~{fragments/general :: scripts}"></div>

<script th:src="@{https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-2.0.7/b-3.0.2/datatables.min.js}"></script>

<script>
    $('#example').DataTable();
</script>
</body>

</html>