<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elements</title>
</head>
<body>
<!--Socials-->
<ul th:fragment="socials">
    <li><a class="google" th:href="@{/oauth2/authorization/google}"><i class="fa fa-google"></i> Sign in With Google</a>
    </li>
</ul>

<!--Card-->
<div th:class="${isSearch ? 'col-lg-3 col-md-4 col-sm-6':'col-lg-4 col-md-6 col-sm-6'}"
     th:each="anime : ${animeList}" th:fragment="card(animeList,isSearch)">
    <div class="product__item">
        <div th:attr="data-setbg=@{/images/anime/{id}(id=${anime.image.id})}" class="product__item__pic set-bg">
            <!--                                    <div class="comment"><i class="fa fa-comments"></i> 11</div>-->
            <div class="view" th:if="${anime.getViewCount() > 0}">
                <i class="fa fa-eye"></i>
                <span th:text="${anime.getViewCount()}"></span>
            </div>
        </div>
        <div class="product__item__text">
            <ul>
                <li th:each="genre, genreStat : ${anime.genre}"
                    th:unless="${genreStat.index > 2}">
                    <a th:href="@{/genres/{id}(id=${genre.id})}" th:text="${genre.title}"></a>
                </li>
            </ul>
            <h5><a th:href="@{/anime/{id} (id = ${anime.id})}" th:text="${anime.title}"></a></h5>
        </div>
    </div>
</div>

<!--Toast login-->
<div class="toastNotification" sec:authorize="isAuthenticated()" th:fragment="toastLogin" th:id="toastLogin"
     th:if="${param.login}"></div>

<!--Toast create-->
<div class="toastNotification" th:fragment="toastCreate" th:id="toastCreate" th:if="${param.created}"></div>

<!--Toast logout-->
<div class="toastNotification" sec:authorize="isAnonymous()" th:fragment="toastLogout" th:id="toastLogout"
     th:if="${param.logout}"></div>

<!--Toast Rating-->
<div class="toastNotification" sec:authorize="isAuthenticated()" th:fragment="toastRating" th:id="toastRating"
     th:if="${ratedMessage}"></div>

<!--Toast watchlist-->
<div class="toastNotification" sec:authorize="isAuthenticated()" th:fragment="toastWatchList" th:id="toastWatchList"
     th:if="${watchlistMessage}"></div>

<!--Sorting-->
<form class="col-lg-6 col-md-6 col-sm-12 d-flex flex-row flex-wrap justify-content-start justify-content-sm-end  align-items-end"
      th:fragment="sorting(formName,sortBy,sortDirection)"
      th:id="${formName}"
      th:method="GET">
    <div class="col-lg-5 col-md-6 col-sm-6 p-1">
        <div class="product__page__filter">
            <p>Order by:</p>
            <select th:name="sortBy">
                <option th:selected="${sortBy.equalsIgnoreCase('title')}" th:value="title">Name</option>
                <option th:selected="${sortBy.equalsIgnoreCase('views')}" th:value="views">View</option>
                <option th:selected="${sortBy.equalsIgnoreCase('rating')}" th:value="rating">Rating</option>
                <option th:selected="${sortBy.equalsIgnoreCase('date')}" th:value="date">Released date</option>
                <option th:selected="${sortBy.equalsIgnoreCase('creation')}" th:value="creation">Added date</option>
            </select>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6 p-1">
        <div class="product__page__filter">
            <p>Sort By:</p>
            <select name="sortDirection">
                <option th:selected="${sortDirection.equalsIgnoreCase('asc')}" th:value="ASC">Ascending</option>
                <option th:selected="${sortDirection.equalsIgnoreCase('desc')}" th:value="DESC">Descending</option>
            </select>
        </div>
    </div>
    <button class="btn btn-danger text-capitalize" th:form="${formName}" type="submit">submit</button>
</form>

<!--Pagination buttons-->
<div class="product__pagination" th:fragment="pagination(formName,animeList)">
    <!-- If current page has the previous page and previous page is not first page -->
    <button th:form="${formName}"
            th:if="${animeList.hasPrevious() && animeList.number - 1 != 0}"
            th:name="pageNo" th:value="0" type="submit">
        <i class="fa fa-angle-double-left"></i>
    </button>
    <!-- If current page has the previous page -->
    <button th:form="${formName}"
            th:if="${animeList.hasPrevious()}"
            th:name="pageNo" th:value="${animeList.number - 1}" type="submit">
        <i class="fa fa-angle-left"></i>
    </button>

    <span th:if="${animeList.totalPages > 1}">
        <span th:if="${animeList.first}">
            <!-- If current page is the first page of the pagination -->
            <button th:classappend="${animeList.number == i ? 'current-page' : ''}"
                    th:each="i: ${#numbers.sequence(0, (animeList.totalPages > 2 ? 3 : animeList.totalPages) - 1)}"
                    th:form="${formName}"
                    th:name="pageNo"
                    th:text="${i + 1}"
                    th:value="${i}"
                    type="submit">
            </button>
        </span>
        <span th:if="${animeList.last}">
            <!-- If current page is the last page -->
            <button th:classappend="${animeList.number == i ? 'current-page' : ''}"
                    th:each="i: ${#numbers.sequence(animeList.number - 1, animeList.number)}"
                    th:form="${formName}"
                    th:name="pageNo"
                    th:text="${i + 1}"
                    th:value="${i}"
                    type="submit">
            </button>
        </span>
        <span th:if="${!animeList.first && !animeList.last}">
            <!-- If current page is not the first page -->
            <button th:classappend="${animeList.number == i ? 'current-page' : ''}"
                    th:each="i: ${#numbers.sequence(animeList.number - 1, animeList.number + 1)}"
                    th:form="${formName}"
                    th:name="pageNo"
                    th:text="${i + 1}"
                    th:value="${i}"
                    type="submit">
            </button>
        </span>
    </span>

    <!-- If current page has the next page -->
    <button th:form="${formName}"
            th:if="${animeList.hasNext()}"
            th:name="pageNo" th:value="${animeList.number + 1}" type="submit">
        <i class="fa fa-angle-right"></i>
    </button>
    <!-- If current page has the next page and next page is not last page -->
    <button th:form="${formName}"
            th:if="${animeList.hasNext() && animeList.number + 1 != animeList.totalPages - 1}"
            th:name="pageNo" th:value="${animeList.totalPages - 1}" type="submit">
        <i class="fa fa-angle-double-right"></i>
    </button>
</div>

<!-- Search model Begin -->
<div class="search-model" th:fragment="search">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form" th:action="@{/search}" th:method="GET">
            <input id="search-input" placeholder="Search here....." th:name="query" type="text">
        </form>
    </div>
</div>
<!-- Search model end -->

<!--    Modal begin-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="ratingModal" role="dialog"
     tabindex="-1" th:fragment="rateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="ratingLabel">Rate anime</h5>
                <button aria-label="Close" class="close text-white" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white">
                <form id="ratingForm" th:action="@{/anime/{id}/rate(id=${anime.id})}" th:method="POST">
                    <input class="star" max="10" min="0" step="1" th:name="score" type="range" value="5">
                    <div><span class="view"></span> out of 10</div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-danger" form="ratingForm" type="submit">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--    Modal end-->
</body>
</html>