<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <title th:replace="${title}">The awesome application</title>
    <!-- Google Font -->
    <link  rel="icon" type="image/x-icon" th:href="@{/img/logo/icon.ico}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Common styles and scripts -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap.css}" type="text/css">


</head>
<body>
<ul th:fragment="navLinks">
    <li><a th:href="@{/}">Homepage</a></li>
    <li><a th:href="@{/genres}">Genres</a></li>
    <li><a th:href="@{/watchlist}">Watching List</a></li>
    <li class="text-light" sec:authorize="hasAnyRole('ADMIN','SUPER_ADMIN')">
        Admin<span class="arrow_carrot-down"></span>
        <ul class="dropdown">
            <li><a th:href="@{/admin/anime}">Anime</a></li>
            <li><a th:href="@{/admin/studio}">Studios</a></li>
            <li><a th:href="@{/admin/genre}">Genres</a></li>
            <li><a th:href="@{/admin/user}">Users</a></li>
        </ul>
    </li>
    <li><a th:href="@{/contacts}">Contacts</a></li>
</ul>

<div th:fragment="scripts">
    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script src="/js/player.js" th:src="@{/js/player.js}" type="text/javascript"></script>
    <script src="/js/jquery.nice-select.min.js" th:src="@{/js/jquery.nice-select.min.js}"
            type="text/javascript"></script>
    <script src="/js/mixitup.min.js" th:src="@{/js/mixitup.min.js}" type="text/javascript"></script>
    <script src="/js/jquery.slicknav.js" th:src="@{/js/jquery.slicknav.js}" type="text/javascript"></script>
    <script src="/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}" type="text/javascript"></script>
    <script src="/js/main.js" th:src="@{/js/main.js}" type="text/javascript"></script>
</div>

<!-- Header Section Begin -->
<header class="header" th:fragment="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="header__logo h-100">
                    <a class="h-100" th:href="@{/}">
                        <img alt="" style="max-height: 50px; width: auto;max-width: none !important;"
                             th:src="@{/img/logo/logo.png}">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul th:replace="~{fragments/general :: navLinks}"></ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <ul class="header__right">
                    <li><a class="search-switch" href="#"><span class="icon_search"></span></a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/login}"><span class="icon_profile"></span></a></li>
                    <li sec:authorize="isAuthenticated()">
                        <span class="icon_profile text-danger"></span><span class="arrow_carrot-down"></span>
                        <ul class="dropdown">
                            <li><a th:href="@{/profile}">Profile</a></li>
                            <li><a th:href="@{/logout}">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Sidebar Begin -->
<div class="col-lg-4 col-md-6 col-sm-8" th:fragment="topView(animeByView)">
    <div class="product__sidebar">
        <div class="product__sidebar__view" th:if="${animeByView.size() > 0}">
            <div class="section-title">
                <h5>Top Views</h5>
            </div>
            <div class="filter__gallery">
                <div class="product__sidebar__view__item set-bg mix day years"
                     th:attr="data-setbg=@{/images/anime/{id}(id=${anime.image.id})}"
                     th:each="anime : ${animeByView}">
                    <div class="view" th:if="${anime.getViewCount() > 0}">
                        <i class="fa fa-eye"></i>
                        <span th:text="${anime.getViewCount()}"></span>
                    </div>
                    <h5>
                        <a th:href="@{/anime/{id}(id=${anime.id})}"
                           th:text="${anime.title}">Boruto: Naruto next generations</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sidebar end -->

<div class="col-lg-4 col-md-4" th:fragment="likeThis(animeByPoularity)">
    <div class="anime__details__sidebar">
        <div class="section-title">
            <h5>you might like...</h5>
        </div>
        <div th:each="animePopular : ${animeByPoularity}"
             th:attr="data-setbg=@{/images/anime/{id}(id=${animePopular.image.id})}" class="product__sidebar__view__item set-bg">
            <div class="view" th:if="${animePopular.getViewCount() > 0}">
                <i class="fa fa-eye"></i>
                <span th:text="${animePopular.getViewCount()}"></span>
            </div>
            <h5>
                <a th:href="@{/anime/{id}(id=${animePopular.id})}"
                   th:text="${animePopular.title}"></a>
            </h5>
        </div>
    </div>
</div>

<!-- Footer Section Begin -->
<footer class="footer" th:fragment="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a th:href="@{/}"><img alt="logo" style="height: 60px" th:src="@{/img/logo/logo.png}"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul th:replace="~{fragments/general :: navLinks}"></ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


</body>
</html>