<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:replace="${title}">The awesome application</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Common styles and scripts -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>
<body>
    <ul th:fragment="navLinks">
        <li><a th:href="@{/}">Homepage</a></li>
        <li><a th:href="@{/genres}">Genres</a></li>
        <li><a th:href="@{/watch-list}">Watching List</a></li>
        <li><a th:href="@{/contacts}">Contacts</a></li>
    </ul>

    <div th:fragment="scripts">
        <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" src="/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/js/player.js}" src="/js/player.js"></script>
        <script type="text/javascript" th:src="@{/js/jquery.nice-select.min.js}" src="/js/jquery.nice-select.min.js"></script>
        <script type="text/javascript" th:src="@{/js/mixitup.min.js}" src="/js/mixitup.min.js"></script>
        <script type="text/javascript" th:src="@{/js/jquery.slicknav.js}" src="/js/jquery.slicknav.js"></script>
        <script type="text/javascript" th:src="@{/js/owl.carousel.min.js}" src="/js/owl.carousel.min.js"></script>
        <script type="text/javascript" th:src="@{/js/main.js}" src="/js/main.js"></script>
    </div>

    <!-- Header Section Begin -->
    <header class="header" th:fragment="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a th:href="@{/}">
                            <img alt="" th:src="@{/img/logo.png}">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul th:replace="~{fragments/general :: navLinks}"></ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a class="search-switch" href="#"><span class="icon_search"></span></a>
                        <a th:href="@{/login}"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Sidebar Begin -->
    <div th:fragment="topView(animeByView)" class="col-lg-4 col-md-6 col-sm-8">
        <div class="product__sidebar">
            <div class="product__sidebar__view" th:if="${animeByView.size() > 0}">
                <div class="section-title">
                    <h5>Top Views</h5>
                </div>
                <div class="filter__gallery">
                    <div class="product__sidebar__view__item set-bg mix day years"
                         th:attr="data-setbg=@{/img/sidebar/tv-1.jpg}"
                         th:each="anime : ${animeByView}">
                        <div class="view" th:if="${anime.views.size() > 0}"><i class="fa fa-eye"></i> <span
                                th:text="${anime.views.size()}"></span></div>
                        <h5><a href="#" th:text="${anime.title}">Boruto: Naruto next generations</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sidebar end -->

    <!-- Footer Section Begin -->
    <footer class="footer" th:fragment="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a th:href="@{/}"><img alt="" th:src="@{/img/logo.png}"></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul th:replace="~{fragments/general :: navLinks}"></ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model" th:fragment="search">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input id="search-input" placeholder="Search here....." type="text">
            </form>
        </div>
    </div>
    <!-- Search model end -->
</body>
</html>