<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: common_header(~{::title})}">
    <title>AnimeHarbor - search for anime</title>>
</head>
<body>
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a th:href="@{/}">
                        <img alt="" th:src="@{img/logo.png}">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul th:replace="~{fragments/general :: navLinks}"></ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a class="search-switch" href="#"><span class="icon_search"></span></a>
                    <a th:href="@{/login}"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" th:attr="data-setbg=@{img/hero/hero-1.jpg}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Details</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" th:attr="data-setbg=@{img/hero/hero-1.jpg}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Details</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" th:attr="data-setbg=@{img/hero/hero-1.jpg}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Details</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="popular__product" th:if="${animeByPopular.size() > 0}">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Popular Shows</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a class="primary-btn" href="#">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" th:each="anime : ${animeByPopular}">
                            <div class="product__item d-flex flex-column justify-content-between">
                                <div class="product__item__pic set-bg"
                                     th:attr="data-setbg=@{img/popular/popular-1.jpg}">
                                    <!--                                    <div class="comment"><i class="fa fa-comments"></i></div>-->
                                    <div class="view" th:if="${anime.views.size() > 0}"><i class="fa fa-eye"></i> <span
                                            th:text="${anime.views.size()}"></span></div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li th:each="genre, genreStat : ${anime.genre}"
                                            th:text="${genre.title}" th:unless="${genreStat.index > 2}">Active
                                        </li>
                                    </ul>
                                    <h5><a href="#" th:text="${anime.title}"></a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Recently Added Shows</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a class="primary-btn" href="#">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" th:each="anime : ${animeByInsertDate}">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" th:attr="data-setbg=@{img/recent/recent-1.jpg}">
<!--                                    <div class="comment"><i class="fa fa-comments"></i> 11</div>-->
                                    <div class="view" th:if="${anime.views.size() > 0}"><i class="fa fa-eye"></i> <span
                                            th:text="${anime.views.size()}"></span></div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li th:each="genre, genreStat : ${anime.genre}"
                                            th:text="${genre.title}" th:unless="${genreStat.index > 2}">Active
                                        </li>
                                    </ul>
                                    <h5><a href="#" th:text="${anime.title}"></a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view" th:if="${animeByView.size() > 0}">
                        <div class="section-title">
                            <h5>Top Views</h5>
                        </div>
                        <div class="filter__gallery">
                            <div class="product__sidebar__view__item set-bg mix day years"
                                 th:attr="data-setbg=@{img/sidebar/tv-1.jpg}"
                                 th:each="anime : ${animeByView}">
                                <div class="view" th:if="${anime.views.size() > 0}"><i class="fa fa-eye"></i> <span
                                        th:text="${anime.views.size()}"></span></div>
                                <h5><a href="#" th:text="${anime.title}">Boruto: Naruto next generations</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img alt="" th:src="@{img/logo.png}"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul th:replace="~{fragments/general :: navLinks}"></ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input id="search-input" placeholder="Search here....." type="text">
        </form>
    </div>
</div>
<!-- Search model end -->

<div th:replace="~{fragments/general :: scripts}"></div>
</body>

</html>